html {
    scroll-behavior: smooth;
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

body {
    background-color: #202225;
}

a{
    font-family: 'Arial Rounded MT', Arial, sans-serif;
    color: white;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

p{
    font-family: 'Arial Rounded MT', Arial, sans-serif;
    color: white;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

h1{
    font-family: 'Arial Rounded MT', Arial, sans-serif;
    color: white;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

#buttonDown{
    font-family: 'Arial Rounded MT', Arial, sans-serif;
    color: #FF7F50;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

#buttonDown:hover{
    font-family: 'Arial Rounded MT', Arial, sans-serif;
    color: #FF7F50;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.TagText{
    font-family: 'Arial Rounded MT', Arial, sans-serif;
    color: white;
    background: #FF7F50;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.ItemBackground{
    background-color: #292B2F;
}
.ItemSubBackground
{
    background-color: #2F3136;
}

.banner {
    background: #a770ef;
    background: linear-gradient(135deg, #A9A9FF, #FF7F50, #8EF3F8);
}

.ReleaseNotes{
    font-family: 'Arial Rounded MT', Arial, sans-serif;
    color: white;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}



@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .navbar {
        
        font-family: 'Arial Rounded MT', Arial, sans-serif;
    color: #FF7F50;
    background: #202225;

    overflow:visible; 
    overflow-x:auto;
    -webkit-overflow-scrolling: touch;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */

            margin-right: -10px;
            padding-top: 32px;
            margin-top: -32px;
            margin-bottom: -32px;
            padding-bottom: 32px;
    
            /* ie scrollbar color properties */
            scrollbar-base-color: #202225;
            scrollbar-face-color: #FF7F50;
            scrollbar-3dlight-color: #FF7F50;
            scrollbar-highlight-color: #FF7F50;
            scrollbar-track-color: #202225;
            scrollbar-arrow-color: #FF7F50;
            scrollbar-shadow-color: #FF7F50;
            scrollbar-dark-shadow-color: #FF7F50;
      }
      
          .navbar:after {
            content: "";
            height: 32px;
            display: block;
        }
        
    }

/* width */
.navbar::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  .navbar::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #2F3136;
    border-radius: 10px;
  }
  
  /* Handle */
  .navbar::-webkit-scrollbar-thumb {
    background: #FF7F50;
    border-radius: 10px;
}

.nav-link{
    font-family: 'Arial Rounded MT', Arial, sans-serif;
    color: white;
    background: #202225;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.nav-link:hover{
    font-family: 'Arial Rounded MT', Arial, sans-serif;
    color: #FF7F50;
    background: #202225;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

ul#nav-bar li.active a{
    font-family: 'Arial Rounded MT', Arial, sans-serif;
    color: #FF7F50;
    background: #202225;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}