html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
}
  /* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
}
   
  /* Handle */
::-webkit-scrollbar-thumb {
    background: #9A9A9C; 
    border-radius: 10px;
    border: 2px solid transparent;
    background-clip: padding-box;
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    border: 0;
    background: #9A9A9C; 
}


.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

body {
    background-color: #202225;
}

a{
    font-family: 'Arial Rounded MT', Arial, sans-serif;
    color: white;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

p{
    font-family: 'Arial Rounded MT', Arial, sans-serif;
    color: white;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

h1{
    font-family: 'Arial Rounded MT', Arial, sans-serif;
    color: white;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

h2{
    font-family: 'Arial Rounded MT', Arial, sans-serif;
    color: white;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

h3{
    font-family: 'Arial Rounded MT', Arial, sans-serif;
    color: white;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

#gradient-canvas {
    height: 90%;
    width: 100%;
    --gradient-color-1: #a9a9ff; 
    --gradient-color-2: #FF7F50; 
    --gradient-color-3: #8EF3F8;  
    --gradient-color-4: #FF7F50;
    filter: blur(12px);
}

#gradient-canvas-div {
    height: 100%;
    width: 100%;
}

#waves{
    width: 100%;
    position: absolute;
    bottom: 0px;
    z-index: 100;
}

#grad-div{
    height: 40%;
    width: 100%;
    position: absolute;
}

#logo {
    position: absolute;
    height: 100%;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%); 
    
    z-index: 101;
    filter: drop-shadow(0px 0px 42px coral);
}

#wwTitle{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    font-size: 120px;
    filter: drop-shadow(0px 0px 22px coral);
    background: #A9A9FF;
    background: linear-gradient(to bottom right, #A9A9FF 10%, #FF7F50 50%, #8EF3F8 100%);
    -webkit-text-fill-color: transparent;
}   