html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
}
  /* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
}
   
  /* Handle */
::-webkit-scrollbar-thumb {
    background: #9A9A9C; 
    border-radius: 10px;
    border: 2px solid transparent;
    background-clip: padding-box;
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    border: 0;
    background: #9A9A9C; 
}


.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

body {
    background-color: #202225;
}

a{
    font-family: 'Arial Rounded MT', Arial, sans-serif;
    color: white;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

p{
    font-family: 'Arial Rounded MT', Arial, sans-serif;
    color: white;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

h1{
    font-family: 'Arial Rounded MT', Arial, sans-serif;
    color: white;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

h2{
    font-family: 'Arial Rounded MT', Arial, sans-serif;
    color: white;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

h3{
    font-family: 'Arial Rounded MT', Arial, sans-serif;
    color: white;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

ul{
    background-color: #202225;
}

.list-group-item
{
    background-color: #202225;
    font-size: medium;
    border-color: transparent;
}

li::before 
{
    content: "•"; 
    color: white; /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
}

li{
    font-family: 'Arial Rounded MT', Arial, sans-serif;
    color: white;
    background: #FF7F50;

    margin: 10px;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.ItemBackground{
    background-color: #292B2F;
}

.ItemSubBackground
{
    background-color: #2F3136;
}

.banner {
    background: linear-gradient(135deg, #A9A9FF, #FF7F50, #8EF3F8);
    border-radius: 1rem;
}

.ReleaseNotes{
    font-family: 'Arial Rounded MT', Arial, sans-serif;
    color: white;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

hr{
    height: 5px;
    width: 99%;
    background: linear-gradient(135deg, #A9A9FF, #FF7F50, #8EF3F8);
    border-radius: 100px;
    
}

.card-header{
    background-color: transparent;
    border-width: 0px;
}

.card-link{
    border-radius: 10px;
    color: white;
    border-color: transparent;
}

.card-link:hover{
    color: #FF7F50;
}

.card-body{
    border-radius: 10px;
    color: white;
    background-color: #202225;
    font-family: 'Arial Rounded MT', Arial, sans-serif;;
}

.card{
    margin-bottom: 20px;
    
    
    background: linear-gradient(135deg, #A9A9FF, #FF7F50, #8EF3F8) padding-box,
                linear-gradient(135deg, #A9A9FF, #FF7F50, #8EF3F8) border-box;
    border-radius: 10px;
    border: 4px solid transparent;
}

.card:before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(35deg, #A9A9FF 0%, #FF7F50 50%, #8EF3F8 100%);
    transform: translate3d(0px, 0px, 0) scale(1);
    filter: blur(10px);
    opacity: var(1);
    transition: opacity 0.3s;
    border-radius: inherit;
}

/* 
* Prevents issues when the parent creates a 
* stacking context. (For example, using the transform
* property )
*/
.card::after {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    border-radius: inherit;
}
        